//TODO: USE DIRECTION

// $test_green: #00ff00;

// .color-green{
//     color: $test_green;
// }

//*Primary
$transparent: transparent;
$black: #000000;
$white: #ffffff;
$red: #c8191c;

//*Secondary

//*Tersary
